  <script src="/js/jquery-1.8.3.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
   <!--Login-->

  <script src="/js/login/jquery.form.js"></script>
  <script src="/js/login/bootstrap-modal.js"></script>
  
  <script src="/js/login/signup.js"></script>
  <script src="/js/login/signupController.js"></script>
  <script src="/js/login/accountValidator.js"></script>

  <script src="/js/login/login.js"></script>
  <script src="/js/login/loginController.js"></script>
  <script src="/js/login/loginValidator.js"></script>
  <script src="/js/login/emailValidator.js"></script>

  <script src="/js/angular.js"></script>
  <script src="/js/angular-resource.min.js"></script>
  <script src="/js/socialite.min.js"></script>
  <script src="/js/FileSaver.min.js"></script>
  
  <script src="/app/js/app.js"></script>
  <script src="/app/js/jsonService.js"></script>
  <script src="/app/js/controllers.js"></script>
  <script src="/app/js/filters.js"></script>
  <script src="/app/js/directives.js"></script>
  <script src="/app/js/router.js"></script>



</body>
</html>